---
import EventPageComponent from "../../components/EventPage";
const { id } = Astro.params;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Convocados</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#1976d2" />
  </head>
  <body>
    <EventPageComponent client:only="react" eventId={id!} />
  </body>
</html>
